<ion-footer class="ion-no-border">
  <ion-tab-bar slot="bottom" class="shadow-2xl">
    
    <!-- Bouton Accueil -->
    <ion-tab-button tab="home" routerLink="/accueil">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <!-- Bouton Paiement -->
    <ion-tab-button tab="paiement" routerLink="/paiement">
      <ion-icon name="card-outline"></ion-icon>
      <ion-label>Paiement</ion-label>
    </ion-tab-button>

    <!-- Bouton Rapport -->
    <ion-tab-button tab="rapport" routerLink="/rapport">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Rapport</ion-label>
    </ion-tab-button>

    <!-- Bouton Profil -->
    <ion-tab-button tab="profil" routerLink="/profil">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-footer>
