<ion-header class="custom-header">
  <ion-toolbar>
    <ion-title>Liste de présence</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Boutons de navigation -->
  <div class="button-row">
    <ion-button expand="block" routerLink="/rapport" color="medium">
      Bulletin
    </ion-button>
    <ion-button expand="block" color="primary">
      Présence
    </ion-button>
  </div>

  <!-- Section Liste de présence -->
  <ion-card class="rapport-card">
    <ion-card-header>
      <ion-card-title>Liste de présence</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label>Année scolaire</ion-label>
        <ion-select placeholder="Sélectionner l'année">
          <ion-select-option value="2022-2023">2022-2023</ion-select-option>
          <ion-select-option value="2021-2022">2021-2022</ion-select-option>
          <ion-select-option value="2020-2021">2020-2021</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button expand="full" class="action-button ion-margin-top">
        Afficher la liste de présence
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>

<app-tab-bar></app-tab-bar>
