<ion-content>
  <div id="header">
    <div id="app-tab-bar">
      <ion-icon name="arrow-back" routerLink="/onboarding"></ion-icon>
      <div id="logo">
        <img src="assets/logo.png" alt="logo">
      </div>
      <div></div>
    </div>
    <h1> Sig in</h1>
    <p>Sig in to discover amazing thing near <br/>aroud you</p>
  </div>
  <div class="wraper">
    <ion-card class="form-wrapper">
      <ion-item>
        <ion-icon name="mail"></ion-icon>
        <ion-input type="text" placeholder="Email"></ion-input>
      </ion-item>

    </ion-card>
  </div>
</ion-content>