<ion-content class="ion-padding ion-text-center" style="--background: #ffffff;">
  <!-- Logo en haut -->
  <div class="logo-container">
    <img src="../../assets/logo.png" alt="logo" class="logo" />
  </div>

  <!-- Titre et description -->
  <div class="title">
    <h2>Welcome</h2>
    <p>Enjoy the Code Crafts App</p>
  </div>

  <!-- Boutons Parent et Parrain avec routerLink -->
  <div class="buttons-container">
    <ion-button expand="block" class="btn-parrain" routerLink="/register" fill="outline" color="primary">
      Parrain
    </ion-button>

    <ion-button expand="block" class="btn-parent" routerLink="/login" color="primary">
      Parent
    </ion-button>
  </div>
</ion-content>
