<ion-content>
  <!-- Header violet -->
  <div id="header">
    <div id="app-bar">
      <ion-icon name="arrow-back-outline" routerLink="/welcome"></ion-icon>
    </div>
    <div id="logo">
      <img src="assets/logo.png" alt="logo">
    </div>
    <h1>Register</h1>
    <!-- <p>Create your account to get started</p> -->
  </div>

  <!-- Form wrapper au-dessus du header -->
  <div class="wrapper">
    <ion-card class="form-wrapper">
      <ion-card-content>
        
        <ion-item>
          <ion-icon name="person-outline" slot="start" color="primary"></ion-icon>
          <ion-input type="text" placeholder="Nom"></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon name="person-outline" slot="start" color="primary"></ion-icon>
          <ion-input type="text" placeholder="Prénom"></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon name="call-outline" slot="start" color="primary"></ion-icon>
          <ion-input type="tel" placeholder="Téléphone"></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon name="lock-closed-outline" slot="start" color="primary"></ion-icon>
          <ion-input type="password" placeholder="Mot de passe"></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon name="lock-closed-outline" slot="start" color="primary"></ion-icon>
          <ion-input type="password" placeholder="Confirmer le mot de passe"></ion-input>
        </ion-item>

        <ion-button expand="block" color="primary">Créer un compte</ion-button>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
